html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #eee;
}

.site {
    display: flex;
    width: 70%;
    margin: 2em auto;
    background: #fff;
    padding: 2em;
    flex-wrap: wrap;
    gap: 1em;
}

.site > * {
    padding: 2em;
    border: 1px solid #000;
    border-radius: 1em;
}

.site header {
    flex: 0 0 100%;
}

.site main {
    flex: 0 0 70%;
}

.site aside {
    flex: 1 0 auto;
}

.site footer {
    flex: 0 0 100%;
}

