.nav-bar {
    background-color: black;
    color: magenta;
}

.nav-bar a {
    background-color: black;
    color: cyan;
}

.nav-bar-sidebar {
    background-color: gray;
    color: cyan;
}

.nav-bar-sidebar a {    
    color: magenta;
}

.nav-bar-footer,
.nav-bar-footer a {
    background-color: gray;
    color: rgb(0, 255, 0);
}