html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #eee;
}

.site-one,
.site-two {
    max-width: 1200px;
    border-radius: 1em;
    border: 1px solid #cbcbcb;
    margin: 2em auto;
    background: #fefefe;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

.site-one > h1 {
    padding: 1em;
    border-bottom: 1px solid #cbcbcb;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
}

.table-container .table-row {
    display: flex;
    flex: 0 0 100%;
    border-bottom: 1px solid #cbcbcb;
}

.table-container .table-row:last-child {
    border-bottom: transparent;
}

.header {
    background: #ededed;
    font-weight: 600;
}

.table-row p {
    flex: 1 1 auto;
    padding: 1em;
}

.table-row p:first-child,
.table-row p:last-child {
    flex: 0 0 20%;
}

.site-two .table-container .table-row p {
    flex: 1 1 33%;
}