.main-container {
    display: flex;
    border: 2px solid blue;
    padding: 1em;
    width: 400px;
    align-items: flex-start;
    /* height: 200px; */
    /* flex-wrap: wrap; */
}

.main-container .flex-items {
    background-color: #eee;
    padding: 20px;
    border: 2px solid #000;
    /* flex-basis: 300px; */
}

.flex-basis-5em .flex-items {
    flex-basis: 5em;
}

.flex-shrink-zero .flex-items {
    flex-shrink: 0;
    max-width: 5em;
    flex-basis: 5em;
}

.flex-grow-one {
    width: 900px;
}

.flex-grow-one .flex-items{
    flex-grow: 1;
}